.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex: 0 0 50%; /* Diviser en deux colonnes */
    margin-bottom: 15px;
}

.mat-form-field {
    width: 100%;
}

.mat-input-element {
    font-size: 11px; 
}

label {
    font-size: 11px; 
}


.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}

.btn {
    font-size: 11px; 
    padding: 8px 15px; 
}


.mat-input-element, .mat-select {
    height: 10px; 
}



.tab-label {
    display: flex;
    align-items: center;
  }
  
  .tab-text {
    font-size: 12px; 
    margin-left: 5px; 
}

.btn-recherche {
    background-color: #ffc107; 
    color: #fff; 
}
.btn-recherche:hover {
    background-color: #ffca28; 
}

.icon-small {
    font-size: 16px; 
    margin-right: 4px; 
    vertical-align: middle; 
}


.table th {
    font-weight: bold;
    color: #686a6d;
  }
  
  .table td,
  .table th {
    font-size: 0.9rem; 
  }
  .table td,
  .table th {
    vertical-align: middle;
  }
  
  .badge {
    font-size: 0.8rem;
  }
  
  .item-count {
    margin-top: 20px;
  }
  
  
  
  /* Styles pour les lignes de tableau actives */

  .table-responsive tr.selected-incident {
    background-color: #cfe5fa; 
    border-left: 0.5em solid #bdd248; 
  }
  
  .search-form input[type="text"],
  .search-form select {
    border-left: 0.5em solid #087441;
  }
  
  
  
  