<div class="container">
    <h2>Utilisateurs</h2>
    
  
    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
      <table class="table table-striped" style="width: 100%; table-layout: auto;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Email</th>
           
            <th>Langue</th>
            <th>Droits</th>
            <th>Créé le</th>
            <th>Modifié par</th>
            <th>Modifié le</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td><a href="#">{{user.id}}</a></td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
         
            <td>fr</td>
            <td><span class="badge bg-info">{{user.profil}}</span></td>
            <td>2024-03-17 15:30</td>
            <td>admin</td>
            <td>2024-03-17 16:45</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-info btn-sm"><span>Voir</span></button>
        
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  

  
    <mat-paginator
    [length]="1000"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
  </div>
  