<div class="container">
    <h2>Utilisateurs</h2>
    
  
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Email</th>
           
            <th>Langue</th>
            <th>Droits</th>
            <th>Créé le</th>
            <th>Modifié par</th>
            <th>Modifié le</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">1</a></td>
            <td>john_doe</td>
            <td>john</td>
         
            <td>fr</td>
            <td><span class="badge bg-info">ROLE_USER</span></td>
            <td>2024-03-17 15:30</td>
            <td>admin</td>
            <td>2024-03-17 16:45</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-info btn-sm"><span>Voir</span></button>
                <button class="btn btn-primary btn-sm"><span>Editer</span></button>
                <button class="btn btn-danger btn-sm"><span>Supprimer</span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  

  
    <div class="pagination">
    
    </div>
  </div>
  