<div class="container">
    <h2>Utilisateurs</h2>
    
  
    <div class="table-responsive" style="max-height: 640px; overflow-y: auto; 
    " >
      <table class="table " style="width: 100%; table-layout: auto; 
       ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom &Prénom</th>
            <th>Email</th>
            <th>Profil</th>
       
            <th>site</th>
            <th>Service</th>
            <th>Telephone</th>
            <th>Mobile</th>
            <th>Fax</th>
            <th></th>
        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td><a href="#">{{user.id}}</a></td>
            <td>{{user.code}}</td>
            <td>{{user.nom}}{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td><span class="badge bg-info">{{user.profil}}</span></td>
            <td>{{user.site}}</td>
            <td>{{user.service}}</td>
            <td>{{user.telephone}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.fax}}</td>
           
            <td>
              <div class="btn-group">
                <button class="btn btn-info btn-sm"><span>Voir</span></button>
        
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  

    <div class="card flex justify-content-center">
      <p-paginator  [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
  