<div class="full-container-main">
  <div class="bande-top"></div>

  <div class="full-container-main-login">
    <div class="container">
      <div class="heading">Login</div>
      <br>
      <form class="form" (submit)="login()">
        <input
          [(ngModel)]="authRequest.username"  
          placeholder="Username"
          name="username"
          type="username"
          class="input"
          required
        />
      
      <br />
      <div >
        <span class="error-message">Login is required.</span>
      </div>
        <br>
        
        <input
        placeholder="Password"
        [(ngModel)]="authRequest.password"  
        id="password"
        name="password"
        type="password"
        class="input"
       
      />
      <br />
      <div>
        <span class="error-message">Password is required.</span>
      </div>
        <br>
        <br>
        
        <input type="submit" value="Se connecter" class="login-button" />
      </form>
      <div class="social-account-container">
        <div class="g-recaptcha" data-sitekey="VOTRE_SITE_KEY"></div>
      </div>
      <div class="login-logo-imgg">
       
      </div>
      <div class="login-logo-img">
          <img src="../../../../assets/logo-adn@3x.png" class="img-responsive" alt="logo actia">
       
      </div>
     
    </div>
  </div>
</div>


