<div class="full-container-main">
    <div class="bande-top"></div>
  
    <div class="full-container-main-login">
      <div class="container">
        <div class="heading">Login</div>
        <br>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <input
          placeholder="login"
          id="login"
          name="login"
          type="login"
          class="input"
          formControlName="login"
        />
        <br />
        <div *ngIf="loginForm.get('login')?.invalid && (loginForm.get('login')?.dirty || loginForm.get('login')?.touched)">
          <span class="error-message">Login is required.</span>
        </div>
          <br>
          
          <input
          placeholder="Password"
          id="password"
          name="password"
          type="password"
          class="input"
          formControlName="password"
        />
        <br />
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <span class="error-message">Password is required.</span>
        </div>
          <br>
          <br>
          
          <input   value="Se connecter" type="submit" class="login-button" />
        </form>
        <div class="social-account-container">
          <div class="g-recaptcha" data-sitekey="VOTRE_SITE_KEY"></div>
        </div>
        <div class="login-logo-imgg">
         
        </div>
        <div class="login-logo-img">
            <img src="../../../../assets/logo-adn@3x.png" class="img-responsive" alt="logo actia">
         
        </div>
       
      </div>
    </div>
  </div>
  