<div class="container">
    <h2>Crée un compte utilisateur</h2>
    <div class="user-form">
      <form>
        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input type="text" class="form-control" id="login" placeholder="Entrez le login">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez l'email">
        </div>
        <div class="mb-3">
          <label for="langue" class="form-label">Langue</label>
          <select class="form-select" id="langue">
            <option value="fr">Français</option>
            <option value="en">Anglais</option>
            <option value="es">Espagnol</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="droits" class="form-label">Droits</label>
          <input type="text" class="form-control" id="droits" placeholder="Entrez les droits">
        </div>
        <button type="submit" class="btn btn-primary"> <mat-icon>save</mat-icon> Enregistrer & Fermer</button>
         
      </form>
    </div>
  

  </div>
  