<div class="container">
    <h2>Crée un compte utilisateur</h2>
    <div class="user-form">
      <form>
        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input type="text" class="form-control" id="login" placeholder="Entrez le login">
        </div>

        <div class="mb-3">
          <label for="code" class="form-label">Code</label>
          <input type="text" class="form-control" id="code" placeholder="Entrez le code">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez l'email">
        </div>

        <div class="mb-3">
          <label for="prenom" class="form-label">Prenom</label>
          <input type="prenom" class="form-control" id="prenom" placeholder="Entrez prenom">
        </div>

        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="nom" class="form-control" id="nom" placeholder="Entrez nom">
        </div>
        <div class="mb-3">

          <div class="mb-3">
            <label for="site" class="form-label">Site</label>
            <select class="form-select" id="site">
             
            </select>
          </div>
          <div class="mb-3">
            <label for="profil" class="form-label">Profil</label>
            <select class="form-select" id="profil">
             
            </select>
          </div>
          <label for="langue" class="form-label">Langue</label>
          <select class="form-select" id="langue">
            <option value="fr">Français</option>
            <option value="en">Anglais</option>
            <option value="es">Espagnol</option>
          </select>
        </div>


        <div class="mb-3">
          <label for="service" class="form-label">Service</label>
          <input type="text" class="form-control" id="service" placeholder="Entrez les service">
        </div>

        <div class="mb-3">
          <label for="telephone" class="form-label">Telephone</label>
          <input type="text" class="form-control" id="telephone" placeholder="Entrez num telephone">
        </div>
        <div class="mb-3">
          <label for="fax" class="form-label">Fax</label>
          <input type="text" class="form-control" id="fax" placeholder="Entrez num fax">
        </div>

        <button type="submit" class="btn btn-primary"> <mat-icon>save</mat-icon> Enregistrer & Fermer</button>
         
      </form>
    </div>
  

  </div>
  