<app-navbar></app-navbar>

<div class="container-fluid page" style="border: 1px solid #bdd248">
  <div class="d-flex page__box p-3 mt-2"></div>

  <div class="page__content shadow p-2 position-relative">
    <div class="left-panel" style="border: 0.5px solid #bdd248">
<app-search-outil></app-search-outil>
    </div>
    <div class="right-panel" style="border: 0.5px solid #bdd248">
      <div class="button-container">
        <button class="btn btn-besoin" >
          <mat-icon>add</mat-icon> Ajouter
        </button>
        <button class="btn btn-besoin" type="button" >
          <mat-icon>cancel</mat-icon> Annuler
        </button>
      </div>

      <!-- Affichage du formulaire d'ajout ou de modification -->
<app-form-outil></app-form-outil>
    </div>
  </div>
</div>
