<div class="form-container">
<form> 
  
    
     
            <div class="form-group">
                <label for="referenceProduit"> 	<mat-icon>shopping_cart</mat-icon> Référence Produit</label>
                <select class="form-control" id="referenceProduit" name="referenceProduit">
                  <option value="" selected>-- Sélectionner --</option>
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                </select>
              </div>
       
          <div class="form-group">
            <label for="numeroSerie"><mat-icon>filter_none</mat-icon>Numéro Série</label>
            <input type="text" class="form-control" id="numeroSerie" name="numeroSerie" required>
          </div>
        
      
     
          <div class="form-group">
            <label for="dateCode">  <mat-icon>date_range</mat-icon>Date Code</label>
            <input type="text" class="form-control" id="dateCode" name="dateCode" required>
          </div>
    <div class="form-group">
  <label for="debutGarantie"> <mat-icon>calendar_today</mat-icon>Début de garantie</label>
  <input type="date" class="form-control" id="debutGarantie" name="debutGarantie" required style="width: 200px;"> </div>
<div class = "form-group">
  <label for="finGarantie"> <mat-icon>calendar_today</mat-icon> Fin de garantie</label>
  <input type="date" class="form-control" id="finGarantie" name="finGarantie" required style="width: 200px;"> </div>
      
     
          <div class="form-group">
            <label for="outilEnReparation">  <mat-icon>build</mat-icon>Outil en réparation</label>
            <select class="form-control" id="outilEnReparation" name="outilEnReparation">
              <option value="oui">Oui</option>
              <option value="non" selected>Non</option>
            </select>
          </div>
      
   
  
       
          <div class="form-group">
            <label for="outilDePret">  <mat-icon>handyman</mat-icon> Outil de prêt</label>
            <select class="form-control" id="outilDePret" name="outilDePret">
              <option value="" selected>-- Sélectionner --</option>
              <option value="option1">oui </option>
              <option value="option2">non</option>
            </select>
        </div>
    
          <div class="form-group">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>