<!-- home.component.html -->
<app-navbar></app-navbar>

<div class="container-fluid page" style="border: 2px solid #bdd248">
  <div class="d-flex page__box p-3 mt-2"></div>

  <div class="page__content shadow p-2 position-relative">
    <div class="left-panel" style="border: 2px solid #bdd248">
      <app-search-incident (incidentSelected)="onIncidentSelected($event)"></app-search-incident>
    </div>
    <div class="right-panel" style="border: 2px solid #bdd248">
      <div class="button-container">
        <button class="btn btn-besoin" (click)="toggleForm()">
          <mat-icon>add</mat-icon> Ajouter
        </button>
        <button class="btn btn-besoin" type="button" (click)="cancelForm()" *ngIf="isAddingIncident || isEditingIncident">
          <mat-icon>cancel</mat-icon> Annuler
        </button>
      </div>

      <!-- Affichage du formulaire d'ajout ou de modification -->
      <app-form
        *ngIf="isAddingIncident || isEditingIncident"
        [isAddingIncident]="isAddingIncident"
        [isEditingIncident]="isEditingIncident"
        [selectedIncident]="selectedIncident"
        [isEditable]="isEditable"

      ></app-form>
    </div>
  </div>
</div>
